extends layout

block content
    section.py-5
        .container.py-5

            //.row.mb-4.mb-lg-5
            //    .col-md-8.col-sl-6.text-center.mx-auto
            //        p.fw-bold.text-success.mb-2 Login
            //        h2.fw-bold Welcome Back
            //.row.d-flex.justify-content-center
            //    .col-md-6.col-xl-4
            //        .card
            //            .card-body.text-center.d-flex.flex-column.align-items-center
            //                .bs-icon-xl.bs-icon-circle.bs-icon-primary.shadow.bs-icon.my-4
            //                    //+person-no-circle-icon()
            //                    i.bi-person
            //                form(method='post')
            //                    div.mb-3
            //                        input.form-control(type="email", name="email", placeholder="Email")
            //                    div.mb-3
            //                        input.form-control(type="password", name="password", placeholder="Password")
            //
            //                    div.mb-3
            //                        button.btn.btn-primary.shadow.d-block.w-100(type="submit") Log in
            //                p.text-muted Forgot your password?



