extends base

block head
    link(rel="stylesheet", href="/assets/stylesheets/postauth.css")

block content
    #app
        section.py-3
            .container.py-5
                div.auth-icons-container.d-flex.flex-row.mb-3
                    img.auth-icons(src="/assets/icons/google-temp-icon.svg")
                    svg.auth-icons.px-1(xmlns="http://www.w3.org/2000/svg",fill="currentColor",class="bi bi-link-45deg",viewBox="0 0 16 16")
                        path(d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z")
                        path(d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z")
                    img.auth-icons(src="/assets/icons/icon-512.png")
                h1.text-center.mb-3 Additional Steps Required
                p.text-center.mb-3 You're almost there. Sign in to connect your Google and EasyClaim account.
                form(method="POST")
                    .auth-form-container
                        .row.mb-3
                            .col-12.col-md-6
                                label(for="email", class="form-label") Existing EasyClaim Email
                                input(type="text", class="form-control", id="email", name="email", disabled, readonly) 
                            .col-12.col-md-6
                                label(for="password", class="form-label") Existing EasyClaim Password
                                input(type="password", class="form-control", id="password", name="password")
                        .d-grid.d-md-flex.justify-content-md-end
                            button.btn.btn-primary(type="submit") Submit



