extends ../layout

block content
  .section.py-5
    .container.p-4
      h1.text-danger An unexpected exception occured.
      .font-monospace(style='white-space: pre-wrap;')= message
      br
      h2= error.status
      pre #{error.stack}
