extends ../layout

block head
    script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
    script(src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs", type="module")

block content
    section.py-5
        .d-flex.flex-column.justify-content-center.align-items-center
            dotlottie-player(src="/assets/animations/dotlottie/tick.lottie", background="transparent", speed="1", style="width: 300px; height: 300px", direction="1", playMode="normal", autoplay='')
            h1.fw-bolder Signup successful
            br
            h3 Welcome to EasyClaim, #{user.name}!
            div Get started  with these three steps:
            ul.mt-2(style='list-style-type: none')
                li.mb-2.d-flex.align-items-center
                    .bg-primary.text-bg-primary(style="height: 2.5rem; font-weight: bold; width: 2.5rem; font-size: 1.5rem; display: flex; justify-content: center; align-items: center; border-radius: 50%") 1
                    span.ms-2 Create an expense.
                li.mb-2.d-flex.align-items-center
                    .bg-primary.text-bg-primary(style="height: 2.5rem; font-weight: bold; width: 2.5rem; font-size: 1.5rem; display: flex; justify-content: center; align-items: center; border-radius: 50%") 2
                    span.ms-2 Select multiple expenses to make up a claim.
                li.mb-2.d-flex.align-items-center
                    .bg-primary.text-bg-primary(style="height: 2.5rem; font-weight: bold; width: 2.5rem; font-size: 1.5rem; display: flex; justify-content: center; align-items: center; border-radius: 50%") 3
                    span.ms-2 Create the claim, and share it to someone to get your money back.
            a.btn.btn-primary(href="/expenses") Let's go

